.container {
    max-width: 800px;
}

.header {
    margin-top: 6rem;
    text-align: center;
}





#nav-trigger {
    display: block;
    position: fixed;
    overflow: hidden;
    text-align: left; 
    top: 0;
    right: 10px;
    z-index: 100;
    padding-top: 10px;}
  #nav-trigger span {
    display: inline-block;
    line-height: 0%;
    color: #D0D0D0 ;
    cursor: pointer;
    margin-top: 0;
    text-align: left;
    padding: 12px 4px 12px;

    } 
    #nav-trigger span:after {
      display: inline-block;
      font-size: 4em;
      margin-left: 0px;
      width: 20px;
      height: 10px;
      content: "≡"; 
      padding-top: 5px;
        margin-top: 10px;
        margin-right: 20px;
        margin-left: 6px;
        text-shadow: 50px 50px 50px #000;}
    #nav-trigger span:hover {
      color:  #A0A0A0   ; }
    #nav-trigger .open:after {
    content: "x"; 
    font-size: 3em;
    color: white;
    margin-right: 20px;
          width: 20px;
      height: 10px;

 }



.navbar#nav-mobile { 
    z-index: 99;}

    .navbar#nav-mobile ul {
        display: none;
        list-style-type: none;
        position: fixed;
        left: 0;
        right: 0;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        top:0;
        background: linear-gradient(
            rgba(30, 0, 0, 0.8),
            rgba(30, 0, 0, 0.8));
        z-index: 99;
        padding-top: 10px;
        }
    .navbar#nav-mobile li {
        display: block;
        padding: 0 0;
        margin: 0 8em;
        border-bottom: solid 1px #888888; }
        .navbar#nav-mobile li:last-child {
          border-bottom: none;}
    .navbar#nav-mobile a {
        display: block;
        color: white;
        padding: 10px 30px; 
        text-decoration: none;}
        .navbar#nav-mobile a:hover {
          background: linear-gradient(
            rgba(0, 0, 0, 0.95),
            rgba(0, 0, 0, 0.95));
          color: #fff; 
          }


.navbar#nav-main{
    display: none;
    position: relative;
    width: 100%;
    height: 6.5rem;
    margin-bottom: -6.5rem;}

    .navbar#nav-main ul {
        list-style: none;
        margin-bottom: 0;}
    .navbar#nav-main li {
        position: relative;
        float: left;
        margin-bottom: 0;}
    .navbar#nav-main a {
        text-transform: uppercase;
        font-size: 13px;
        font-weight: 600;
        letter-spacing: .15rem;
        margin-right: 35px;
        text-decoration: none;
        line-height: 6.5rem;
        color: #fff;}

    .has-docked-nav .navbar#nav-main {
        position: fixed;
        top: 0;
    }




/* Larger than phone */
/*@media (min-width: 550px) {
    .header {
        margin-top: 18rem;
    }
}
*/  
/* Larger than tablet */
@media (min-width: 750px) {
    /* Navbar */

  #nav-trigger {
    display: none; }

    .navbar#nav-main{
        display: block;

    }

    .navbar#nav-mobile{
        display: none;
    }






    .landing {
        background: linear-gradient(
                rgba(50, 0, 0, 0.25),
                rgba(50, 0, 0, 0.25)),
        url('../images/revel-20-fullsize.jpg') top center no-repeat;
        background-size: cover;
        background-attachment: fixed;

    }


    .post-header {

        background: linear-gradient(
            rgba(0, 0, 0, 0),
            rgba(255, 255, 255, 1)),
        url('../images/revel-20-fullsize.jpg') top center no-repeat;
        background-size: cover;
        background-attachment: scroll;
    } 



    .landing h1 {
        font-size: 6rem ;
    }


    /*Adjust figure margins for large devices*/
    figure {

            margin: 2em 3em 0em;

    }


    blockquote {

    margin-left: 2em;
    margin-right: 4em;
    }

}
