/* Custom Styles
–––––––––––––––––––––––––––––––––––––––––––––––––– */
/*Body Text - override Skeleton default (Raleway) */

body {
    /*font-family: "Raleway", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;*/
    font-family: "Lato", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
    /*font-family: "Lato", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;*/
}


/* Blockquote styling */

blockquote {
    background: #f9f9f9;
    border-left: 10px solid #ccc;
    margin: 1.5em 10px;
    margin-left: 1em;
    margin-right: 2em;
    padding: 0.5em 10px;
    font-size: 1em;
    font-style: italic;
    quotes: "\201C" "\201D" ;
}


blockquote:before {
    color: #ccc;
    content: open-quote;
    font-size: 4em;
    line-height: 0.1em;
    margin-right: 0.25em;
    vertical-align: -0.4em;
}

blockquote p {
    display: inline;
}


figure {

        margin: 0em 0.5em 0em;
        padding-bottom: 2em;

}

/* Landing Page header styling */


.landing {
    background: linear-gradient(
            rgba(50, 0, 0, 0.25),
            rgba(50, 0, 0, 0.25)),
    url('../images/revel-20-mobile3.jpg') top center no-repeat;
    background-size: cover;
    background-attachment: scroll;
    height: 100vh;
}


.landing h1 {
    color: #fff;
    font-weight: 400;
    font-size: 5rem;
    line-height: 1;
    /*text-shadow: 0 1px 2px #000;*/
    margin-bottom: 0.1em;

    
}


.site-header {
    height: 6.5rem;     
    
}


.landing hr.hr_style1 {
    border-top: 3px solid #fff;
    padding-bottom: 0em;
    padding-top: 0em;
    margin-bottom: 0.2em;
    margin-top: 0.2em;
}



.landing p {
    color: #fff;
    font-size: 1.33em;
    line-height: 1.5;
    /*text-shadow: 0 1px 2px #000;*/
    margin-bottom: 1.2em;
}

.landing p strong {
    color: #fff;
}

/* Preamble */

.header2 p {
    color: #000;
    font-size: 1.25em;
    line-height: 1.5;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

/* The Scholarship */
.scholarship {
    padding: 2em 0 2em;
    text-align: left;
}

.scholarship h2 {
    color: #009be8;
    font-weight: 300;
}

.scholarship p {
    color: #9d9d9d;
    font-size: 1.1em;
}

img {
    max-width: 100%;
    height: auto;
}

/* Testimonials */
.testimonials {
    padding: 4em 0;
    text-align: center;
}

.testimonials h2 {
    color: #009be8;
    font-weight: 300;
}

.testimonials p {
    color: #9d9d9d;
    font-size: 1.2em;
}

.testimonials blockquote {
    border: none;
    text-align: left;
    padding: 0 1.5em 0 0;
    font-size: 1em;
    color: #4d4d4d;
    line-height: 1.4;
    margin: 1em 0;
}

.testimonials .avatar img {
    border-radius: 50%;
    float: left;
    display: inline;
    margin-right: 1em;
    width: 65px;
    height: 65px;
}

.testimonials .avatar p {
    text-align: left;
    padding-top: 1em;
    color: #5d5d5d;
    font-weight: 900;
}

/* Apply Banner */
.apply_banner {
    background: linear-gradient(
            rgba(255, 255, 255, 0.1),
            rgba(255, 255, 255, 0.1)),
    url('../images/helliwell2.jpg') top center no-repeat;
    background-size: cover;
    width: 100%;
    padding-top: 7em;
    padding-bottom: 7em;
    text-align: center;
    opacity: 60%;
}

.apply_banner h2 {
    color: #fff;
    font-weight: 500;
}

.apply_banner p {
    color: #fff;
    font-size: 1.2em;
}

.apply_banner .row {
    margin-top: 3em;
}

.apply_banner ul li a {
    color: #fff;
    font-size: 1.5em;
    text-transform: uppercase;
    text-decoration: none;
    padding: 0.75em 2em;
    font-weight: 400;
}

.apply_banner ul li a.btn {
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px; /* border radius */
    border: 3px solid #fff;
}

.apply_banner ul li a.btn:hover {
    background: #fff;
    color: #000;

}

/* Footer */
footer {
    background: #fff;
    padding: 1em 0;
    padding-bottom: 0;
}

footer nav ul {
    margin-top: 0.5em;
}

footer nav ul li {
    display: inline;
    margin: 0;
}

footer nav ul li a {
    color: #000;
    text-decoration: none;
    text-transform: uppercase;
    margin: 0 1em 0 0;
    font-size: 1em;
}

footer img {
    float: right;
}

footer p {
    color: #000;
    line-height: 1;
    text-transform: uppercase;
    font-size: 0.7em;
    margin-top: 1.2em;
}

/* About Becky */

.about-becky {
    text-align: left;
    padding: 2em 0 2em;
}

.about-becky img {
    border-radius: 50%;
    float: left;
    display: inline;
    margin-right: 1em;
    width: 100px;
    height: 100px;
}

/* Readmore */
.readmore {
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: .1rem;
    text-decoration: none;
    line-height: 0.5rem;
}

/* About SCARP */
.about-scarp {
    text-align: left;
    padding: 2em 0 2em;
}

.about-scarp img {
    /*border-radius: 50%;*/
    float: left;
    display: inline;
    margin-right: 1em;
    width: 20%;
    height: 20%;

}

/* Dividing line */
.dividing-line {
    border-top: 1px solid #eee;
    margin-bottom: 2rem;
}

/*Sharing buttons*/
/*.share-page {
    text-align: center;
    background: #eee;
    color: #000;
    padding: 8px 15px;
    border-radius: 5px;

}

.share-page a {
    font-weight: 800;
    color: #000;
    margin-left: 10px;
    text-decoration: none;
}*/




/*Sharing buttons*/
.share-page {
    text-align: center;
    background: #eee;
    color: #000;
    padding: 8px 15px;
    border-radius: 5px;
}

.share-page  a {

    margin-left: 10px;
    display: inline-block;
    width: 24px;
    height: 24px;
    margin: 10px;
    vertical-align: middle;
    -o-transition: all .3s;
    -moz-transition: all .3s;
    -webkit-transition: all .3s;
    -ms-transition: all .3s;
}

.share-page a.twitter { background: url(../images/social-icons/twitter.png) left top no-repeat; }
.share-page a.dribbble { background: url(../images/social-icons/dribbble.png) left top no-repeat; }
.share-page a.rss { background: url(../images/social-icons/rss.png) left top no-repeat; }
.share-page a.pinterest { background: url(../images/social-icons/pinterest.png) left top no-repeat; }
.share-page a.digg { background: url(../images/social-icons/digg.png) left top no-repeat; }
.share-page a.flickr { background: url(../images/social-icons/flickr.png) left top no-repeat; }
.share-page a.forrst { background: url(../images/social-icons/forrst.png) left top no-repeat; }
.share-page a.vimeo { background: url(../images/social-icons/vimeo.png) left top no-repeat; }
.share-page a.reddit { background: url(../images/social-icons/reddit.png) left top no-repeat; }
.share-page a.linkedin { background: url(../images/social-icons/linkedin.png) left top no-repeat; }
.share-page a.facebook { background: url(../images/social-icons/facebook.png) left top no-repeat; }
.share-page a.paypal { background: url(../images/social-icons/paypal.png) left top no-repeat; }
.share-page a.stumbleupon { background: url(../images/social-icons/stumbleupon.png) left top no-repeat; }
.share-page a.email { background: url(../images/social-icons/email.png) left top no-repeat; }
.share-page a.deviantart { background: url(../images/social-icons/deviantart.png) left top no-repeat; }
.share-page a.netvibes { background: url(../images/social-icons/netvibes.png) left top no-repeat; }
.share-page a.yahoo { background: url(../images/social-icons/yahoo.png) left top no-repeat; }
.share-page a.github { background: url(../images/social-icons/github.png) left top no-repeat; }
.share-page a.addthis { background: url(../images/social-icons/addthis.png) left top no-repeat; }
.share-page a.behance { background: url(../images/social-icons/behance.png) left top no-repeat; }
.share-page a.blogger { background: url(../images/social-icons/blogger.png) left top no-repeat; }
.share-page a.slashdot { background: url(../images/social-icons/slashdot.png) left top no-repeat; }
.share-page a.technorati { background: url(../images/social-icons/technorati.png) left top no-repeat; }
.share-page a.googleplus { background: url(../images/social-icons/googleplus.png) left top no-repeat; }
.share-page a.apple { background: url(../images/social-icons/apple.png) left top no-repeat; }
.share-page a.myspace { background: url(../images/social-icons/myspace.png) left top no-repeat; }
.share-page a.sharethis { background: url(../images/social-icons/sharethis.png) left top no-repeat; }
.share-page a.yelp { background: url(../images/social-icons/yelp.png) left top no-repeat; }
.share-page a.delicious { background: url(../images/social-icons/delicious.png) left top no-repeat; }
.share-page a.lastfm { background: url(../images/social-icons/lastfm.png) left top no-repeat; }
.share-page a.youtube { background: url(../images/social-icons/youtube.png) left top no-repeat; }
.share-page a.skype { background: url(../images/social-icons/skype.png) left top no-repeat; }
.share-page a.tumblr { background: url(../images/social-icons/tumblr.png) left top no-repeat; }
.share-page a.aim { background: url(../images/social-icons/aim.png) left top no-repeat; }
.share-page a.google { background: url(../images/social-icons/google.png) left top no-repeat; }
 
.share-page a:hover { background-position: left -34px; }


/*Embedding youtube video */
.videoWrapper {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */

    height: 0;
    margin-top: 2em;
    margin-bottom: 2em;

}
.videoWrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}


.gallery {
  background: #f9f9f9;
}

.gallery-cell {
  width: 100%;
  /*height: 400px;*/
  margin-right: 0px;
  background: #f9f9f9;
  counter-increment: gallery-cell;
}



/*
.page-content  {
    background: linear-gradient(
            rgba(0, 0, 0, 0.5),
            rgba(255, 255, 255, 1)),
    url('../images/revel-20-fullsize.jpg') top center no-repeat;
    background-size: cover;
    background-attachment: scroll;
    height: 50vh;
}*/

.page-content h1 {
    color: #000;
    padding-top: 0em;


}

/*
.becky-header p {
    color: #000;
    font-size: 1.33em;
    line-height: 1.5;
    margin-bottom: 1.2em;
}*/



.pickgradient{
  position:relative;
   width: 100%; /* for IE 6 */
}

.pickgradient h1 { 
   position: absolute; 
   top: 200px; 
   left: 0; 
   width: 100%; 
}


.pickgradient:after {
  content:'';
  position:absolute;
  left:0; top:0;
  width:100%; height:100%;
  display:inline-block;
    background: linear-gradient(
            rgba(0, 0, 0, 0.5),
            rgba(255, 255, 255, 1))}

img.bg{

  display:block;
}


.post-header {
    background: linear-gradient(
        rgba(0, 0, 0, 0),
        rgba(255, 255, 255, 1)),
    url('../images/revel-20-mobile3.jpg') top center no-repeat;
    background-size: cover;
    background-attachment: scroll;

    height:30em;
    padding-bottom: 0;
    margin-bottom: 0;



}

.post-header h1 {


    padding-top: 10em;

}



