
.has-docked-nav .navbar {
    background: linear-gradient(
            rgba(0, 0, 0, 0.25),
            rgba(0, 0, 0, 0.25)),
    url('../images/revel-20-fullsize.jpg') top center no-repeat;
    background-size: cover;
	width: 100%;
    background-attachment: fixed;
}

.skin-default .navbar   

{

    background: linear-gradient(
            rgba(0, 0, 0, 0.0),
            rgba(0, 0, 0, 0.0));
     background-size: cover;
    background-attachment: fixed;



}