<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">


  <!-- Facebook Insights admin data (allow sharing)-->
  <meta property="fb:admins" content="{{ site.fb_admins }}"/>
 <meta property="fb:app_id" content="{{ site.fb_appid }}"> 
  <!-- Open Graph Metas-->

  <meta property="og:url" content="http://beckytarbottonscholarship.org" />
  <meta property="og:title" content="The Becky Tarbotton Memorial Scholarship"/>
  <meta property="og:description" content= "The Becky Tarbotton Memorial Scholarship supports a second year graduate student in the School of Community and Regional Planning in the Faculty of Applied Science who demonstrates exceptional leadership and commitment in the fields of environmental and social justice. The scholarship has been made available by the Tarbotton family and friends in memory of Rebecca (“Becky”) Tarbotton. Becky was a leader and visionary who graduated from SCARP and dedicated her career to protecting the environment and defending"/>

  <meta property="og:image" content="http://beckytarbottonscholarship.org/images/revel-20-share2.jpg" />


  <!-- Mobile Specific Metas
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- FONT
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <!--link href='http://fonts.googleapis.com/css?family=Work+Sans:300,400,700,900,100italic,300italic,400italic,700italic,900italic' rel='stylesheet' type='text/css'-->

  <link href='http://fonts.googleapis.com/css?family=Work+Sans:300,400,700,900,100italic,300italic,400italic,700italic,900italic' rel='stylesheet' type='text/css'>


  <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
  <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strsip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">

  <!-- CSS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->

  <link rel="stylesheet" href="{{ site.baseurl }}/packages/Skeleton-2.0.4/css/normalize.css">
  <link rel="stylesheet" href="{{ site.baseurl }}/packages/Skeleton-2.0.4/css/skeleton.css">
  <link rel="stylesheet" href="{{ site.baseurl }}/css/custom_CJT.css">
  <link rel="stylesheet" href="{{ site.baseurl }}/css/custom_Skeleton.css">
  <link rel="stylesheet" href="{{ site.baseurl }}/css/skin-default.css">

  <link rel="stylesheet" href="{{ site.baseurl }}/css/flickity.css" media="screen">

  <!-- JS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
  <script src="{{ '/js/site.js' | prepend: site.baseurl }}"></script>
  <script src="{{ site.baseurl }}/js/flickity.pkgd.min.js"></script>


  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ '/feed.xml' | prepend: site.baseurl | prepend: site.url }}">
</head>




<!--script>
  window.fbAsyncInit = function() {
    FB.init({
      appId      : '1707383322824946',
      xfbml      : true,
      version    : 'v2.5'
    });
  };

  (function(d, s, id){
     var js, fjs = d.getElementsByTagName(s)[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement(s); js.id = id;
     js.src = "//connect.facebook.net/en_US/sdk.js";
     fjs.parentNode.insertBefore(js, fjs);
   }(document, 'script', 'facebook-jssdk'));
</script-->



<!--div
  class="fb-like"
  data-share="true"
  data-width="450"
  data-show-faces="true">
</div-->


