

  <div class="share-page">
      <!--Share this on &rarr; -->
      <a class="twitter" href="https://twitter.com/intent/tweet?text={{ page.title }}&url={{ site.url }}&via={{ site.twitter_username }}&related={{ site.twitter_username }}" rel="nofollow" target="_blank" title="Share on Twitter"></a>

      <a class="facebook" href="https://www.facebook.com/dialog/share?app_id={{ site.fb_appid }}&display=popup&href={{ site.url }}&redirect_uri={{ site.url }}" rel="nofollow" target="_blank" title="Share on Facebook"></a>

      <a class="googleplus" href="https://plus.google.com/share?url={{ site.url }}" rel="nofollow" target="_blank" title="Share on Google+"></a>
  </div>


