<!DOCTYPE html>
<html>
  {% include head.html %}
  


  <body class="skin-default">



    <div class="page-content">
       

      <div class="pickgradient">

       {% include navbar.html %}  
        <img src="../images/revel-20-fullsize.jpg" id="bg" alt=""/>
      </div>

      

      <div class="container">
        <div class="twelve columns">
          {{ content }}
        </div>
      </div>
    </div>

    {% include footer.html %}
    {% include share_page.html %}

  </body>

</html>
