<!DOCTYPE html>
<html>
  {% include head.html %}
  

  <header>
     
     <div class="landing">


     {% include navbar2.html %}
      <div class="container">
  
          
  
            <h1>
              <!--hr class = "hr_style1"-->
              CAMERON
              TARBOTTON
             <!--hr class = "hr_style1"-->
            </h1> 
            <!--h2>
              Dude, man, all around cool guy.
            </h2-->
            <p>

               Insights on what matters most.
            </p> 


      </div>
    </div>

  </header>







  <body>

    
    {{ content }}


    {% include footer.html %}
    {% include share_page.html %}

    {% include google_analytics.html %}

  </body>

</html>












