<!DOCTYPE html>
<html>
  {% include head.html %}
  

  

 
    <div class="landing2">    
      <div class="container">
        <div class="twelve columns">
          <h1>CAMERON  <br> TABRBOTTON</h1>
          <hr class = "hr_style1">
          <p></p>
          <!--p>Insights on what matters most. </p-->
        </div>
      </div>
      {% include navbar.html %}
    </div>

       
  <body>

    
    {{ content }}


    {% include footer.html %}
    {% include share_page.html %}

    {% include google_analytics.html %}

  </body>

</html>












